.dashboard {
  display: flex;
  background-color: #eaf2ff;
  min-height: 100vh;
}

.dashboard-main {
  flex: 1;
  padding: 40px;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-header h1 {
  font-size: 22px;
  font-weight: 700;
}

.add-book-btn {
  background-color: #0056d2;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.add-book-btn:hover {
  background-color: #003f99;
}